Project-Report.md
static/Books
hehe.html
templates/logintemplate.html
.DS_Store
/__pycache__/
**/__pycache__/
project_resources/to-do_files
project_resources/to-do.html
project_resources/to-do.md
testing.ipynb