
project_reqs/

Project-Report.md
static/Books
hehe.html
/Users/aradhanachatterjee/Desktop/LUMINA/__pycache__
application/__pycache__
/Users/aradhanachatterjee/Desktop/LUMINA/__pycache__
/Users/aradhanachatterjee/Desktop/LUMINA/application/__pycache__