{% extends "body.html" %}
{% block body %}


<!-- Display books by author -->
<div class="container mt-2">
    <div>
        {% if role=='admin'%}
        <a id="backlink" href="/manage">
            {% else %}
            <a id="backlink" href="/browse">
                {% endif %}
                <h4><- Back</h4>
            </a>
    </div>
    <hr>

    <div class="row justify-content-center" style="text-align: center;">
        <div class="col-md-12">
            <h3 class="mb-3">Books by {{author.name}}</h3>
            {% if books %} <!-- Check if there are books in the section -->

            <div class="row justify-content-center mb-2">

                {% for book in books %}
                <div class="card mx-2 book-card">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ book.title }}</h5>
                        <p class="card-text" id="authornames">
                            {% for author in book.author %}
                            {{ author.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        {% if role=='admin' %}
                        <a href="/book/{{ book.id }}" class="btn btn-custom">Manage</a>
                        {% else %}
                        <a href="/book/{{ book.id }}" class="btn btn-custom">View</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-muted">No books have been added to this section.</p> <!-- Message if no books -->
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}