{% extends 'body.html'%}
{% block body %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <!-- Navbar brand -->

        <a class="navbar-brand" href="/">Lumina</a>

        <!-- Navbar toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar items -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if role=='admin' %}
                <li class="nav-item">
                    <a class="nav-link" id="jtext" href="/">Librarian Dashboard</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/search">Search</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="jtext" href="/manage">Manage Catalog</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/">Manage Users</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/">{{user}}'s Dashboard</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="jtext" href="/search">Search</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/browse">Browse</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="#">Stats</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/logout">Logout</a>
                </li>
                {%endif%}
            </ul>
        </div>
    </div>
</nav>
<!-- End of Navbar -->

<!-- Main Content -->
<div class="container mt-3">
    <div>
        <a id="backlink" href="/section/{{section.id}}">
            <h4><- Back</h4>
        </a>
    </div>
    <hr>

    <div class="row mt-3">
        <div class="col-md-4">

            <img style="height:90%; width:90%;" src="/static/Books/img/{{book.bookcover_link}}.jpg" alt="Image">

        </div>
        <div class="col-md-8">
            <div class="container" style="text-align: center;">
                <div class="row justify-content-center mt-4">
                    <h2>{{book['title']}}</h2>
                </div>
                <div class="row justify-content-center mt-3">
                    <h5>Author</h5>
                </div>

                <div class="row justify-content-center mt-1">
                    <p>
                        {% for author in book['author'] %}
                        {{author['name']}}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="row justify-content-center mt-2">
                    <h5>Description</h5>
                </div>
                <div class="row justify-content-center mt-1">
                    <p>{%if book.description%}</p>
                    <p style="font-size: 90%;">
                        {% for line in book.description.split('\n') %}
                        {{ line }}
                        <br />
                        {% endfor %}
                    </p>
                    <p>{%else%}-{%endif%}</p>
                </div>

                
                <!-- based on user's role, implement some actions associated with this book -->
                <div class="row justify-content-center mt-1" style="text-align: center;">

                    {% if role=='admin'%}
                <!-- modify book type actions only available to admin -->
                    <div class="col-md-4">
                        <a href="/book={{book.id}}/edit" class="btn btn-custom">Edit</a>
                    </div>
                    <div class="col-md-4">
                        <a href="/book={{book.id}}/delete" class="btn btn-danger">Delete</a>
                    </div>

                    {% else %} 
                    <!-- user can only make book request and delete existing request IF YKNOW-->
                        {% if available %}
                        <!-- if this book has not been requested by any user  -->
                            {# {%if quota < 5%} <!-- if user has not reached the maximum number of books they can request --> #}
                            <div class="col-md-4">
                                <form action="/book/{{book.id}}/requestbook" method="post">
                                    <button type="submit" class="btn btn-custom">Request</button>
                                </form>
                            </div>
                            <div class="col-md-10" style="margin-top: 2%;">
                                {% if quota_error %}
                                    <small>You have reached the maximum number of books you can request (5). To make a request for this book, please delete one of your existing book requests or, if your book request has been approved, return the issued book.</small>
                                {% endif %}
                            </div>
                            
                            {# {% else %} #}
                            

                        {% else %}
                        <!-- if this book has been requested by ANY user -->
                            {% if user == book_request.username %}
                            <!-- if this book has been requested by the current user -->

                            {% if not book_request.issued %}
                            <!--  if this book was requested by the current user and the librarian hasn't approved the request yet -->
                                <div class="col-md-4">
                                    <form action="/book_request/{{book_request.id}}/delete" method="post">
                                        <button type="submit" class="btn btn-custom">Delete Request</button>
                                    </form>
                                    <!-- in this case the user can delete their book_request -->
                                </div>
                            {% else %}
                            <!-- if this book was requested by the current user and the librarian has approved the request and issued the book -->
                                <div class="col-md-4">
                                    <a href="/book={{book.id}}/book_request={{book_request.id}}/read" class="btn btn-custom">Read Book</a>
                                </div>

                                <div class="col-md-4">
                                    <form action="/book_request/{{loan.id}}/return" method="post">
                                        <button type="submit" class="btn-sm btn-custom">Return Book</button>
                                    </form>
                                </div>
                            {%endif%}

                            {% else %}
                                    <small>You cannot make a request for this book as this book has already been requested by another reader.</small>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>



            </div>

        </div>
    </div>
</div>


{% endblock %}