{% extends 'body.html' %}
{% block body %}

<!-- Main content -->
<div class="container mt-3">
    <div>
        <a id="backlink" href="/book/{{book.id}}">
            <h4><- Back</h4>
        </a>
    </div>
    <hr>
    <div id="pagetitle" style="margin-top: 5%;">
        <h2>Purchase {{book.title}}?</h2>
    </div>


    <div class="container" id="pagetitle2" style="margin-top: 3%;">
    <div class="row justify-content-center">
        <div class="col-6">
            <h5>Get lifetime access to this e-book by paying only ₹50!</h5>
        </div>
    </div>
        <div class="row d-flex justify-content-center">

            <div class="col-4">
                    <form action="/book/{{book.id}}/buy" method="post">
                        <button type="submit" class="btn btn-custom">Pay ₹50</button>
                    </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}