{% extends "body.html" %}
{% block body %}

<!-- Main content -->
<!-- Book Requests table -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center mt-5">Book Requests</h3>
        </div>
    </div>
    {% if pending_requests %}
    <div class="row">
        <div class="col-12">
            <table class="table table-hover mt-3" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">Book Title</th>
                        <th scope="col">Requested by</th>
                        <th scope="col">Requested on</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book_request in pending_requests %}
                    <tr>
                        <td><a href="/book/{{book_request.book_id}}">{{book_request.book_title}}</a></td>
                        <td>{{book_request.username}}</td>
                        <td>{{book_request.date_requested.strftime('%d-%m-%Y')}}</td>
                        <td>
                            <form action="/book_request/{{book_request.id}}/approve" method="post">
                                <button type="submit" class="btn btn-custom">Approve</button>
                            </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <p class="text-center mt-3">No book requests at the moment</p>
        </div>
    </div>
    {% endif %}
</div>
<!-- End of Book Requests table -->


<!-- Currently Issued Books table -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center mt-5">Currently Issued Books</h3>
        </div>
    </div>
    {% if issued_now %}
    <div class="row">
        <div class="col-12">
            <table class="table table-hover mt-3" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">Book Title</th>
                        <th scope="col">Issued to</th>
                        <th scope="col">Issued on</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for loan in issued_now %}
                    <tr>
                        <td><a href="/book/{{loan.book_id}}">{{loan.book_title}}</a></td>
                        <td>{{loan.username}}</td>
                        <td>{{loan.date_issued.strftime('%d-%m-%Y')}}</td>
                        <td>{{loan.date_due.strftime('%d-%m-%Y')}}</td>
                        <td>
                            <form action="/book_request/{{loan.id}}/return" method="post">
                                <button type="submit" class="btn btn-custom">Revoke Access</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <p class="text-center mt-3">No books currently issued</p>
        </div>
    </div>
    {% endif %}
</div>
<!-- End of Currently Issued Books table -->

<!-- End of main content inside container -->
{% endblock %}