{% extends "body.html" %}
{% block body %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <!-- Navbar brand -->

        <a class="navbar-brand" href="/">Lumina</a>

        <!-- Navbar toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar items -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" id="jtext" href="/">Librarian Dashboard</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/search">Search</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/manage">Manage Catalog</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="#">Manage Users</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End of Navbar -->

<!-- Main content -->
<div class="container">
    <!-- Book Requests table -->
    <div class="row">
        <div class="col-12">
            <h3 class="text-center mt-5">Book Requests</h3>
        </div>
    </div>
    {% if book_requests %}
    <div class="row">
        <div class="col-12">
            <table class="table table-hover mt-3" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Book Title</th>
                        <th scope="col">Requested by</th>
                        <th scope="col">Requested on</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book_request in book_requests %}
                    <tr>
                        <td>{{book_request.id}}</td>
                        <td>{{book_request.book_title}}</td>
                        <td>{{book_request.username}}</td>
                        <td>{{book_request.date_requested}}</td>
                        <td>
                        <form action="/book_request/{{book_request.id}}/approve" method="post">
                            <button type="submit" class="btn btn-custom">Approve</button>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <p class="text-center mt-3">No book requests at the moment</p>
        </div>
    </div>
    {% endif %}

    <!-- End of Book Requests table -->


    <!-- Currently Issued Books table -->

    <div class="row">
        <div class="col-12">
            <h3 class="text-center mt-5">Currently Issued Books</h3>
        </div>
    </div>
    {% if book_loans %}
    <div class="row">
        <div class="col-12">
            <table class="table table-hover mt-3" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Book Title</th>
                        <th scope="col">Issued to</th>
                        <th scope="col">Issued on</th>
                        <th scope="col">Return by</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for loan in book_loans %}
                    <tr>
                        <td>{{loan.id}}</td>
                        <td>{{loan.book_title}}</td>
                        <td>{{loan.username}}</td>
                        <td>{{loan.date_borrowed}}</td>
                        <td>{{loan.return_date}}</td>
                        <td>
                            <a href="{{loan.id}}" class="btn-sm btn-custom">Return</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <p class="text-center mt-3">No books currently issued</p>
        </div>
    </div>
    {% endif %}
</div>
    <!-- End of Currently Issued Books table -->
          
<!-- End of main content inside container -->
{% endblock %}