{% extends "body.html" %}
{% block body %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <!-- Navbar brand -->

        <a class="navbar-brand" href="/">Lumina</a>

        <!-- Navbar toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar items -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" id="jtext" href="/">Librarian Dashboard</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/search">Search</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="jtext" href="/manage">Manage Catalog</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/">Manage Users</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End of Navbar -->

<!-- Main content -->
<div class="container mt-5">
    <div class="mb-4">
        <!-- Section Management Card -->
        <h2 class="text-center">Manage Sections</h2>
    </div>

    <div class="row justify-content-center mb-4">
        <!-- Existing Sections Cards -->
        <!-- Repeat this part for each section -->
        {% for section in sections %}
        <div class="card mx-2" style="max-width: 20rem; max-height: fit-content;">
            <div>
                <div class="card-header text-center">
                    <h5 class="card-title">{{section.title}}</h5>
                </div>
            </div>
            <div class="card-body text-center">
                <p class="card-text">Date added: {{section.date_created}}</p>
                {# <p class="card-text">Number of books: {{section.books}}</p> #}
                {# <p class="card-text">Number of books: {{section.book_count}}</p> #}
                {% if section.avg_rating == None%}
                <p class="card-text">Average rating: -</p>
                {% else %}
                <p class="card-text">Average rating: {{section.avg_rating}}</p>
                {% endif %}
                {# <p class="card-text">{{section.description}}</p> #}
            </div>
            <div class="card-footer d-flex justify-content-around">
                <a href="/section/{{section.title}}/manage" class="btn btn-custom">Manage</a>
                {# <a href="/section/" + {{section.title}} + "/editsection" class="btn btn-custom">Edit</a> #}
                {# <a href="/section/delete" class="btn btn-custom">Delete</a> #}
            </div>
        </div>

        {% endfor %}

    </div>
</div>
<br>
{# <hr> #}


<div class="row justify-content-center mt-5">
    <div class="pagetitle2">
        <h4>Add New Section</h4>
    </div>
</div>
<div class="row justify-content-center mt-3">
    <a href="section/add" class="btn btn-custom btn-lg" style="">+</a>
</div>




<!-- End of main content -->
{% endblock %}