{% extends "body.html" %}
{% block body %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <!-- Navbar brand -->

        <a class="navbar-brand" href="/">Lumina</a>

        <!-- Navbar toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar items -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" id="jtext" href="/">Librarian Dashboard</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/search">Search</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="jtext" href="/manage">Manage Catalog</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/">Manage Users</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End of Navbar -->

<!-- Main content -->
<div class="container mb-4">
    {% if sections%}
    <div class="mb-2">
        <h2 class="text-center" id="pagetitle">Sections</h2>
    </div>

    <div class="row justify-content-center mb-4">
        {% for section in sections %}
        {% set book_count = section.books|length %}
        <div class="card mx-2 section-card">
            <div>
                <div class="card-header text-center">
                    <h5 class="card-title">{{section.title}}</h5>
                </div>
            </div>
            <div class="card-body text-center">
                <p class="card-text">Date added: {{ section.date_created.strftime('%d-%m-%Y') }}</p>

                <p class="card-text">Number of books: {{book_count}}</p>
                {% if section.avg_rating == None%}
                <p class="card-text">Rating: -</p>
                {% else %}
                <p class="card-text">Rating: {{section.avg_rating}}</p>
                {% endif %}
            </div>
            <div class="card-footer d-flex justify-content-around">
                <a href="/section/{{section.id}}" class="btn btn-custom">Manage</a>
                <a href="/section={{section.id}}/addbook" class="btn btn-custom">Add Book</a>
            </div>
        </div>

        {% endfor %}

    </div>

    {% endif %}



    <div class="row justify-content-center mt-4">
        <div id="pagetitle2">
            <h2>New Section</h2>
        </div>
    </div>

    <div class="row justify-content-center mt-2">
        <a href="section/add" class="btn btn-custom btn-lg" aria-label="Add new section">+</a>

    </div>

</div>


<!-- End of main content -->
{% endblock %}