{% extends "body.html" %}
{% block body %}

<!-- Search bar -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <form method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search for books, authors, or sections"
                        name="search_term">
                    <div class="input-group-append">
                        <button class="btn btn-custom" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end of search bar container -->

<!-- Search results -->
<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">
            {% if search_term%}
            <h3>Search Results for "{{ search_term }}"</h3>
            <hr>
            {% if no_results %}
            <p>No results found.</p>
            {% else %}
            {% if authors %}
            <h4>Authors</h4>
            {% for author in authors %}
            <div>
                <a href="/author/{{ author.id }}">{{ author.name }}</a>
                <ul>
                    {% for book in author.books %}
                    <li>
                        <a href="/book/{{ book.id }}">{{ book.title }}</a> by
                        {% for book_author in book.author %}
                        <a href="/author/{{ book_author.id }}">{{ book_author.name }}</a>{% if not loop.last %}, {%
                        endif %}
                        {% endfor %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            {% endif %}

            {% if sections %}
            <h4>Sections</h4>
            {% for section in sections %}
            <div>
                <a href="/section/{{ section.id }}">{{ section.title }}</a>
                <ul>
                    {% for book in section.books %}
                    <li>
                        <a href="/book/{{ book.id }}">{{ book.title }}</a> by
                        {% for author in book.author %}
                        <a href="/author/{{ author.id }}">{{ author.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            {% endif %}

            {% if books %}
            <h4>Books</h4>
            <ul>
                {% for book in books %}
                <li>
                    <a href="/book/{{ book.id }}">{{ book.title }}</a> by
                    {% for author in book.author %}
                    <a href="/author/{{ author.id }}">{{ author.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}