{% extends "body.html" %}
{% block body %}

<!-- Main content -->


<div class="container mt-3">
    <div>
        {% if role=='admin'%}
        <a id="backlink"href="/manage">
        {% else %}
        <a id="backlink"href="/browse">
        {% endif %}
            <h4><- Back</h4>
        </a>


    </div>
    <hr>

    <div class="row justify-content-center mb-2" style="text-align: center;">
        <div class="col-md-10">
            <h3 class="display-5" style="margin-bottom: 2%;">{{ section.title }}</h3>
            
            <p>Date Added: {{ section.date_created.strftime('%d-%m-%Y') }}</p>

            {% if section.description %}
            <p>Description: {{ section.description }}</p>
            <!-- Section description -->

            {% else %}
            <p>Description: -</p> <!-- Section description -->

            {% endif %}
            <p>Number of books in section: {{ book_count}}</p>

            {% if section.avg_rating %}
            <p>Rating: {{ section.avg_rating }}</p>
            {% else %}
            <p>Rating: -</p>
            {% endif %}

            {% if role=='admin' %}

            <div class="row justify-content-center mt-2">
                <div class="col-md-4">
                    <a href="/section={{ section.id }}/addbook" class="btn btn-custom">Add Book</a>
                </div>
                <div class="col-md-4">
                    <a href="/section={{ section.id }}/edit" class="btn btn-custom">Edit Section</a>
                </div>
                <div class="col-md-4">
                    <a href="/section={{ section.id }}/delete" class="btn btn-custom">Delete Section</a>
                </div>

            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row justify-content-center" style="text-align: center;">
        <div class="col-md-12">
            <h3 class="mb-3">Books</h3>
            {% if books %} <!-- Check if there are books in the section -->

            <div class="row justify-content-center mb-2">

                {% for book in books %}
                <div class="card mx-2 book-card">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ book.title }}</h5>
                        <p class="card-text" id="authornames">
                            {% for author in book.author %}
                            {{ author.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        {% if role=='admin' %}
                        <a href="/book/{{ book.id }}" class="btn btn-custom">Manage</a>
                        {% else %}
                        <a href="/book/{{ book.id }}" class="btn btn-custom">View</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-muted">No books have been added to this section.</p> <!-- Message if no books -->
            {% endif %}
        </div>
    </div>


</div>





<!-- End of main content -->
{% endblock %}