{%extends "core.html"%} {%block content%}

<div id="pagetitle">
  <h1>Home</h1>
</div>

<div id="book-search">
  <h4>Book Search</h4>
  <form action="/search" method="GET">
    <input type="text" name="search" placeholder="Search for..." />
    <button type="submit">Search</button>
  </form>
</div>

<div>
  <h3>Currently Reading</h3>
  <hr />
  <div id="currently-reading">
    <div class="card">Book 1</div>
    <div
      class="card"
      style="background-color: cadetblue; border-color: darkblue"
    >
      <img class="card-img-top" src="holder.js/100x180/" alt="" />
      <div class="card-body">
        <h4 class="card-title">Book Title</h4>
        <p class="card-text">Author</p>
      </div>
    </div>
    <div class="card">Book 2</div>
    <div class="card">Book 3</div>
    <div class="card">Book 4</div>
    <div class="card">Book 5</div>
  </div>
</div>
<div>
  <div id="book-requests">
    <h3>Book Requests</h3>
    <table>
      <thead>
        <tr>
          <th>Book Title</th>
          <th>Author</th>
          <th>Section</th>
          <th>Date Requested</th>
        </tr>
      </thead>
      <tbody>
        <!-- Add rows for book requests here -->
      </tbody>
    </table>
  </div>
</div>
<div>
  <div id="previously-read">
    <h3>Previously Read</h3>
    <div class="card">Book 1</div>
    <div class="card">Book 2</div>
    <div class="card">Book 3</div>
    <div class="card">Book 4</div>
  </div>

  {%endblock%}
</div>
