{% extends "body.html" %}
{% block body %}

<!-- Book Requests table -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center mt-5">Your Book Requests</h3>
        </div>
    </div>
    {% if pending_requests %}
    <div class="row">
        <div class="col-12">
            <table class="table table-hover mt-3" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">Book Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Requested on</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in pending_requests%}
                    <tr>
                        <td>{{request.book_title}}</td>
                        <td>{{request.book_author}}</td>
                        <td>{{request.date_requested.strftime('%d-%m-%Y')}}</td>
                        <td>
                            <form action="/book_request/{{request.id}}/delete" method="post">
                                <button type="submit" class="btn btn-custom">Delete Request</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <p class="text-center mt-3">You have no pending book requests at this time.</p>
        </div>
    </div>
    {% endif %}
    <!-- End of Book Requests table -->
</div>

<!-- Currently Issued Books table -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center mt-5">Currently Issued Books</h3>
        </div>
    </div>
    {% if issued_now %}
    <div class="row">
        <div class="col-12">
            <table class="table table-hover mt-3" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">Book Title</th>
                        <th scope="col">Issued on</th>
                        <th scope="col">Return by</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for loan in issued_now%}
                    <tr>
                        <td>{{loan.book_title}}</td>
                        <td>{{loan.date_issued.strftime('%d-%m-%Y')}}</td>
                        <td>{{loan.date_due.strftime('%d-%m-%Y')}}</td>
                        <td>
                            {# link to read book content with button #}
                            <a href="/book={{loan.book_id}}/book_request={{loan.id}}/read" class="btn-sm btn-custom" style="display: inline-block;">Read</a>
                            {# form to return book #}
                            <form action="/book_request/{{loan.id}}/return" method="post" style="display: inline-block;">
                                <button type="submit" class="btn-sm btn-custom">Return</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- div closing col 12 -->

    </div>

    {% else %}

    <div class="row">
        <div class="col-12">
            <p class="text-center mt-3">You have no books issued at this time.</p>
        </div>
    </div>
    {% endif %}
    <!-- End of Currently Issued Books table -->
</div>

<!-- Past reading history -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center mt-5">Your Reading History</h3>
        </div>
    </div>
    {% if books_read %}
    <div class="row">
        <div class="col-12">
            <table class="table table-hover mt-3" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">Book Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Issued on</th>
                        <th scope="col">Returned on</th>
                        {# <th scope="col">Your Rating</th> #}
                    </tr>
                </thead>
                <tbody>
                    {% for loan in books_read%}
                    <tr>
                        <td>{{loan.book_title}}</td>
                        <td>{{loan.book_author}}</td>
                        <td>{{loan.date_issued.strftime('%d-%m-%Y')}}</td>
                        <td>{{loan.date_returned.strftime('%d-%m-%Y')}}</td>
                        {# show user's rating for the book if rated or not rated yet #}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <p class="text-center mt-3">You have previous no reading history.</p>
        </div>
    </div>
    {% endif %}
    <!-- End of Past reading history -->
</div>

{% endblock %}