{% extends "body.html" %}
{% block body %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/">Lumina</a>
        <!-- Navbar toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar items -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" id="jtext" href="/">{{user}}'s Dashboard</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/search">Search</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/browse">Browse</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="#">Stats</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="jtext" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar end -->

<!-- Book Requests table -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center mt-5">My Book Requests</h3>
        </div>
    </div>
    {% if pending_book_requests %}
    <div class="row">
        <div class="col-12">
            <table class="table table-hover mt-3" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">Book Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Requested on</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in pending_book_requests%}
                    <tr>
                        <td>{{request.book_title}}</td>
                        <td>{{request.book_author}}</td>
                        <td>{{request.date_requested.strftime('%d-%m-%Y')}}</td>
                        <td>
                            <form action="/book_request/{{request.id}}/delete" method="post">
                                <button type="submit" class="btn btn-custom">Delete Request</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <p class="text-center mt-3">You have no book requests</p>
        </div>
    </div>
    {% endif %}
    <!-- End of Book Requests table -->
</div>

<!-- Currently Issued Books table -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center mt-5">Currently Issued Books</h3>
        </div>
    </div>
    {% if active_book_loans %}
    <div class="row">
        <div class="col-12">
            <table class="table table-hover mt-3" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">Book Title</th>
                        <th scope="col">Issued on</th>
                        <th scope="col">Return by</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for loan in active_book_loans%}

                    <tr>
                        <td>{{loan.book_title}}</td>
                        <td>{{loan.date_issued.strftime('%d-%m-%Y')}}</td>
                        <td>{{loan.date_due.strftime('%d-%m-%Y')}}</td>
                        <td>
                            <form action="/book_request/{{loan.id}}/return" method="post">
                                <button type="submit" class="btn btn-custom">Return</button>
                            </form>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- div closing col 12 -->

    </div>

    {% else %}

    <div class="row">
        <div class="col-12">
            <p class="text-center mt-3">You have no books issued</p>
        </div>
        <!-- End of Currently Issued Books table and row-->
    </div>
    {% endif %}
</div>
{% endblock %}