{% extends "core.html" %}
{% block content %}
    <div>
        <div id="pagetitle" style="margin-top: 17%;">
            <h2>Welcome to <span class="afont">Lumina</span></h2>
        </div>
        <div id="pagetitle2">
            <h4>the library application</h4>
            <h4>where words illuminate worlds</h4>
        </div>
        <div style="margin-top: 3%; text-align: center;">
            <a href="/login" class="btn btn-secondary btn-custom">Login</a>
            {# <a href="/register" style="margin-left: 50px;" class="btn btn-secondary btn-custom">Register</a> #}
        </div>
    </div>
{% endblock content %}